<style>
    .divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
</style>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/signup" method="POST">
          <h1>
            User Registration
          </h1>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" name="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" required/>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Name</label>
            <input type="text" name="name" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter your Name" required/>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" name="password" id="form3Example5" class="form-control form-control-lg"
              placeholder="Enter password"  required/>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Confirm Password</label>
            <input type="password" name="confirmpassword" id="form3Example6" class="form-control form-control-lg"
              placeholder="Confirm password" required />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <input type="submit" value="Signup" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"></button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>