 <!-- footer Section -->

<style>
    .foot{
        margin-top: -8%;
    }
    </style>

 <footer class="navbar-static-bottom foot">
    <div class="container-fluid">
      <h3 class="text-center p-2">19CE114 - MOHIT PRAJAPATI</h3>
    </div>
  </footer>
</body>

</html>