<!-- footer Section -->

<style>
  .foot {
    margin-top: 0%;
  }
</style>

<footer class="navbar-static-bottom foot">
  <div class="container-fluid">
    <h2>
      <p class="text-center p-4">19CE114 MOHIT PRAJAPATI</p>
    </h2>
  </div>
</footer>
</body>

</html>